@model YFM.Models.AlbumBaseViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Album details - @Html.DisplayFor(model => model.Name) </h2>
<style>
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }

    .toolBtns {
        color: #012a4a !important;
        background-color: #edf2fb;
        border-color: #274c77;
    }

    .toolBtns:hover {
        background-color: #D1DDFF;
        border-color: #274c77;
    }

    #toolBtns {
        color: #012a4a !important;
    }
</style>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </dt>

        <dd>
            <img src="@(Model.UrlAlbum)" width="200" />
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Coordinator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coordinator)
            <hr />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Depiction)
        </dt>

        <dd>
            @Html.Raw(Model.Depiction)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-default toolBtns">@Html.ActionLink("Back to List", "Index", new { area = "" }, new { @id = "toolBtns" })</button>
    <button type="button" class="btn btn-default toolBtns">@Html.ActionLink("Add Track for This Album", "AddTrack", new { id = Model.Id }, new { @id = "toolBtns" })</button>
    @*@Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Add track for this album", "AddTrack", new { id = Model.Id })*@

</p>
