@model IEnumerable<YFM.Models.AlbumBaseViewModel>

@{
    ViewBag.Title = "Index";
}
<style>
    a:hover, a:visited, a:link, a:active {
        text-decoration: none;
    }

    .detailBtn {
        background-color: #edf2fb;
        border-color: #274c77;
    }

    .detailBtn:hover {
        background-color: #D1DDFF;
        border-color: #274c77;
    }

    #detailBtn {
        color: #012a4a !important;
    }
</style>
<h2>Album list</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrlAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Depiction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            <img src="@(item.UrlAlbum)" width="200"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.Raw(item.Depiction)
        </td>
        <td>
            <button type="button" class="btn btn-default detailBtn">@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @id = "detailBtn" })</button>
        </td>
    </tr>
}

</table>
